# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.local
.env.*.local

# Docker
*.tar
*.img
docker-compose.override.yml
.docker/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Others
coverage/
.idea/
.vscode/
*.swp