# .dockerignore for .NET, ASP.NET, and gRPC projects

bin/
obj/
*.user
*.suo
*.csproj.user
*.db
*.mdf
*.log
*.vs/
.vscode/
.idea/
*.swp
*.tmp
*.bak
*.ncrunch*
*.DS_Store
*.git
.gitignore
docker-compose.*
.env
node_modules/
npm-debug.log
*.pdb
*.TestResults/
*.coverage
*.publish/
*.localhistory/
*.resharper/
*.sln.docstates
*.sln.ide
*.sln.iml
*.sln*
*.cache/
*.config/
*.lock.json
*.tsbuildinfo
*.g.dart
*.g.cs
*.g.i.cs
*.grpc.*